<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040398031854-q52g0t09m9clablqe7o3ggv3poe5mhtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040398031854-q52g0t09m9clablqe7o3ggv3poe5mhtm</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPK_kF0K9-1PuncfirPPz_usF2ivqHGs</string>
	<key>GCM_SENDER_ID</key>
	<string>1040398031854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungjedshopping</string>
	<key>PROJECT_ID</key>
	<string>ungjedshopping</string>
	<key>STORAGE_BUCKET</key>
	<string>ungjedshopping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040398031854:ios:b48d52bb2726714de08cff</string>
</dict>
</plist>